<!--HTML for the navigation bar, primarily-->

    
        <div class="header">
            <div id="logoContainer">
                <a href="/">
                    <div id="homeLogo">b</div>
                </a>
            </div>
           
          
            <a href="#" class="menu_toggler">
    <span></span>
    <span></span>
    <span></span>
</a>
<div class="open_menu">
    <ul>
        <li><a href="#">Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

        
            <div class="nav">
                <ul>
                    <li class="nav-work"><a href="/">Work</a></li>
                    <li class="nav-about"><a href="/about.html">About</a></li>
                    <li class="nav-contact"><a href="/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
