   <!--HTML for the navigation bar, primarily-->
<div class="container">
  <div class="content">
    <div class="header">
      <div id="logoContainer">
       <a href="/">
          <div id="homeLogo">b</div>    
        </a>
      </div>
      <div class="nav">
        <ul>
          <li class="nav-work"><a href="/">work</a></li>
     
     <li class="nav-about"><a href="/about.html">about</a></li>
 <li class="nav-contact"><a href="/contact.html">contact</a></li>
        </ul>
      </div>
    </div>
