<!--HTML for the navigation bar, primarily-->
<div class="header">
    <div id="logoContainer">
        <a href="/">
            <div id="homeLogo">b</div>
        </a>
    </div>
    <a href="#" class="menu_toggler">
        <span class="line top"></span>
        <span class="line mid"></span>
        <span class="line bot"></span>
    </a>
    <div class="nav">
        <ul>
            <li class="nav-work active"><a href="/e5e9fa1ba31ecd1ae84f75caaa474f3a663f05f4/index.html">Work</a></li> 
            <li class="nav-about"><a href="/about.html">About</a></li>
            <li class="nav-contact"><a href="/e5e9fa1ba31ecd1ae84f75caaa474f3a663f05f4/index.html">Contact</a></li>
        </ul>
    </div>
</div>
