body {
	background-color: white;
}

h1 {
}

#hero {
	font-size:	27.44px;
	font-style: normal;
	position: 	absolute;
	top: 		25px;
	left: 		25px;
}

#hero:hover { 
	font-weight: bold;
}

#homeLogo {
	display: 	none;
	color: 		#000;
	text-align: center;
	top: 		0px;
	left: 		0px;
	height: 	30px;
	width: 		30px;
	padding: 	20px;
	font-size: 	24px;
}

.nav {
	height: 		43px;
	margin: 		0;
	margin-left: 	40px;
	width: 			100%;
}

.nav ul {
	position: 		absolute;
	display: 		block;
	font-family:	"FiraSans";
	list-style: 	none;
	margin: 		0;
	padding: 		0px;
	right: 			0px;
}

.nav li {
	font-size: 	12px;
	font-style: italic;
	float: 		left;
	margin: 	30px;
}

.nav li a {
	color: black;
	text-decoration: none;
}


.portfolio {
	position: 	relative;
	max-width: 		700px;
	margin: 	104px 53px;
	list-style: none;
}

.portfolio li {
	position: 	relative;
	float: 		left;
	margin: 	20px 12px;
	height: 	220px;
}

.portfolio li .sample {
	display: 	block;
	width: 		200px;
	height: 	200px;
	box-shadow: 0px 0px 8px #fafafa;
}

.portfolio li:hover .sample {
	box-shadow: 0px 0px 12px #eee;
}

.details {
	display: 	block;
	margin: 	10px;
	font-size: 	12px;
	text-align: center;
	color: 		black;
}

.portfolio li:hover .details {
	font-style: italic;
}

.details span {
	font-size: 11px;
}

.footer {
	clear: 			both;
	position: 		relative;
	bottom: 		0px;
	width: 			100%;
	padding-top: 	104px;
}

.footer-message {
	position: 	relative;
	text-align: center;
	color: 		#212121;
	font-size: 	10px;
	width: 		350px;
	margin: 	10px auto;
}