body {
	font-family: calluna;
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
}

#hero {
	font-size:	43px;
	font-style: normal;
	position: 	absolute;
	top: 		30px;
	left: 		30px;
}

#hero:hover { 
	font-weight: bold;
}

#homeLogo {
	position:   absolute;
	display: 	none;
	color: 		#000;
	text-align: center;
	top: 		0px;
	left: 		0px;
	height: 	24px;
	width: 		24px;
	padding: 	21px;
	font-size: 	30px;
}

.portfolio {
	position: 	relative;
	min-width: 	300px;
	width: 		95%;
	margin: 	120px auto;
	list-style: none;
}

.portfolio li {
	position: 		relative;
	float: 			left;
	margin: 		20px 24px;
	margin-left: 	10px;
	margin-bottom: 	40px;
	width: 			30%;
	padding-bottom:	10%;
	min-height: 	270px;
	min-width: 		270px;
}

.portfolio li .sample {
	position: 				absolute;
	display: 				block;
	box-shadow: 			0px 0px 8px #fafafa;
	background-size: 		100%;
	background-repeat: 		no-repeat;
	background-position: 	center;
	width: 					100%;
	height: 				80%;
	min-height: 			180.36px;
}

.portfolio li:hover .sample {
	box-shadow: 0px 0px 12px #eee;
}

.details {
	position: 	absolute;
	bottom: 	0px;
	width:		100%;
	display: 	block;
	margin: 	10px;
	font-size: 	19px;
	text-align: center;
	color: 		#454545;
}

.portfolio li:hover .details {
	font-style: italic;
}

.details span {
	font-size: 17px;
}

/* portfolio item page */
hr.style-six { 
	border: 		0;
	width: 			40px;
	height: 		0; 
	border-top: 	1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 	1px solid rgba(255, 255, 255, 0.3); 
	padding-bottom: 10px;
}

#portfolio_hero {
	font-size: 		39px;
	margin-left: 	15%;
	margin-top: 	65px;
	margin-bottom: 	90px;
}

#portfolio_hero span {
	font-size: 	26px;
	display: 	block;
}

#portfolio_content {
	padding: 	20px;
	width: 		700px;
	margin:		0 auto;
}

#portfolio_content h1 {
	font-size: 			23px;
	text-align: 		center;
	padding-bottom: 	20px;

}

#portfolio_content p {
	font-size: 	23px;
	text-align: left;
	line-height: 150%;

}

#portfolio_content ._image {
	display: 				block;
	margin: 				50px auto;
	box-shadow: 			0px 0px 8px #fafafa;
	background-size: 		100%;
	background-repeat: 		no-repeat;
	background-position: 	center;

	width: 70%;
	height: 400px;
}

/* global */
.header {
	position:	absolute;
	width: 		100%;
	top: 		0px;
	background: rgba(255, 255, 255, .88);
}
.nav {
	height: 		43px;
	margin: 		0;
	margin-left: 	40px;
	width: 			100%;
}

.nav ul {
	position: 		absolute;
	right: 			0px;
	height: 		0px;
	display: 		block;
	font-family:	"calluna";
	list-style: 	none;
	margin: 		0;
	padding: 		21px 40px;
}

.nav li {
	font-size: 	18px;
	float: 		left;
	margin-left:30px;
}

.footer {
	clear: 			both;
	position: 		relative;
	bottom: 		0px;
	width: 			100%;
	padding-top: 	104px;
}

.footer-message {
	position: 	relative;
	text-align: center;
	color: 		#212121;
	font-size: 	16px;
	width: 		350px;
	margin: 	10px auto;
}